<!DOCTYPE html>
<html>

<head>
<style>
  body {background-color: #777777;}
    
  .overlay {
      position:absolute;
      z-index:0;
      top:0;
      left:0;
  }
  
  .refresh_button {
      position:absolute;
      z-index:0;
      top:0;
      left:0;
      height: 5%;
      font-size: 3.5vh;
  }
  
  
  .hint_button {
      position:absolute;
      z-index:0;
      top:95%;
      left:0;
      height: 5%;
      font-size: 3.5vh;
  }
</style>
</head>

<body>
<img id="panel" src="{{url_for('static', filename='metal_panel.jpg')}}" width="55" height="85" class="overlay">
<div id="box"></div>
<button id="refresh_button" onclick="refresh();" class="refresh_button">Refresh</button>
<button id="hint_button" onclick="hint();" class="hint_button">Hint</button>
  
<script>
    
dials=[];
    
function tap_red(index,x,y){
    console.log("r");
    var count=0;
    for (i = 0; i < dials.length; i++) {
        if ((dials[i][1]==x+1 && dials[i][2]==y && dials[i][3]=="r") || (dials[i][1]==x && dials[i][2]==y-1 && dials[i][3]=="r") ||
            (dials[i][1]==x && dials[i][2]==y+1 && dials[i][3]=="r") || (dials[i][1]==x-1 && dials[i][2]==y && dials[i][3]=="r")){
            count=count+1;
        }
    }
    if (count>1){
        change(index,"b");
    }
    else{
      audio = new Audio("{{url_for('static', filename='failure.mp3')}}");
      audio.play();
    }
}

function tap_blue(index,x,y){
    var check=true;
    for (i = 0; i < dials.length; i++) {
        if ((dials[i][1]<=x+1 && dials[i][1]>=x-1) && (dials[i][2]<=y+1 && dials[i][2]>=y-1) && dials[i][3]!="g" && i!=index){
            check=false;
            console.log(i);
        }
    }
    if (check){
        change(index,"g");
    }
    else{
        for (i = 0; i < dials.length; i++) {
            if ((dials[i][1]==x+1 && dials[i][2]==y && dials[i][3]=="b") || (dials[i][1]==x && dials[i][2]==y-1 && dials[i][3]=="b") ||
                (dials[i][1]==x && dials[i][2]==y+1 && dials[i][3]=="b") || (dials[i][1]==x-1 && dials[i][2]==y && dials[i][3]=="b")){
                change(i,"g");
            }
        }
    }
}

function tap_green(index,x,y){
    console.log("g");
    for (i = 0; i < dials.length; i++) {
        if ((dials[i][1]==x+1 && dials[i][2]==y && dials[i][3]=="r") || (dials[i][1]==x && dials[i][2]==y-1 && dials[i][3]=="r") ||
            (dials[i][1]==x && dials[i][2]==y+1 && dials[i][3]=="r") || (dials[i][1]==x-1 && dials[i][2]==y && dials[i][3]=="r")){
            change(i,"b");
        }
    }
}
    
function makedial(x,y){
    var current=dials.length;
    dials.push([document.createElement('img'),x,y,'r']);
    dials[current][0].setAttribute(
        'src',
        "{{url_for('static', filename='red_dial.png')}}"
    );
    dials[current][0].setAttribute('alt', 'nature');
    dials[current][0].setAttribute('height', 85);
    dials[current][0].setAttribute('width', 55);
    dials[current][0].classList.add("overlay");
    dials[current][0].style.left=20+"px";
    dials[current][0].style.top=20+"px";
    dials[current][0].style.zIndex=1;
    box.appendChild(dials[current][0]);
    dials[current][0].onclick = function() {
        tap_red(current,x,y);
    };
}
    
    
function resize(){
    var w = window.innerWidth;
    var h = window.innerHeight;
    console.log(w,h);
    
    if (h>w){
        panel.style.width=w+"px";
        panel.style.height=w+"px";
        panel.style.top=0.5*(h-w)+"px";
        panel.style.left=0+"px"; 
        
        for (i = 0; i < dials.length; i++) {
            dials[i][0].style.left=dials[i][1]*w/3+w/24+"px";
            dials[i][0].style.top=0.5*(h-w)+dials[i][2]*w/3+w/24+"px";
      
            dials[i][0].setAttribute('height', w/4);
            dials[i][0].setAttribute('width', w/4);
        }
    }
    else{
        panel.style.width=h+"px";
        panel.style.height=h+"px";
        panel.style.left=0.5*(w-h)+"px";
        panel.style.top=0+"px";
        
        for (i = 0; i < dials.length; i++) {
            dials[i][0].style.left=0.5*(w-h)+dials[i][1]*h/3+h/24+"px";
            dials[i][0].style.top=dials[i][2]*h/3+h/24+"px";
      
            dials[i][0].setAttribute('height', h/4);
            dials[i][0].setAttribute('width', h/4);
        }
    }
}

function change(index,colour){
    dials[index][3]=colour;
    if (colour=="r"){
            dials[index][0].setAttribute(
            'src',
            "{{url_for('static', filename='red_dial.png')}}"
        );
        dials[index][0].onclick = function() {
            tap_red(index,dials[index][1],dials[index][2]);
        };
    }
    else if (colour=="b"){
            dials[index][0].setAttribute(
            'src',
            "{{url_for('static', filename='blue_dial.png')}}"
        );
        dials[index][0].onclick = function() {
            tap_blue(index,dials[index][1],dials[index][2]);
        };
    }
    else if (colour=="g"){
            dials[index][0].setAttribute(
            'src',
            "{{url_for('static', filename='green_dial.png')}}"
        );
        dials[index][0].onclick = function() {
            tap_green(index,dials[index][1],dials[index][2]);
        };
    }
  audio = new Audio("{{url_for('static', filename='clunk.mp3')}}");
  audio.play();
  check();
}

function refresh(){
  var i;
  for (i = 0; i < dials.length; i++) {
    change(i,"r");
  }
}

function hint(){
  alert("There is one rule for red dials, one rule for green dials, and 2 for blue dials");
}

function check(){
  var check=true;
  var i;
  for (i = 0; i < dials.length; i++) {
    if (dials[i][3]!="g"){
      check=false;
    }
  }
  if (check==true){
    audio = new Audio("{{url_for('static', filename='complete.mp3')}}");
    audio.play();
    alert("You have completed the puzzle, but do you know the rules of each colour?");
  }
}

window.onresize = function() {
    resize();
};

makedial(0,0);
makedial(0,1);
makedial(0,2);
makedial(1,0);
makedial(1,1);
makedial(1,2);
makedial(2,0);
makedial(2,1);
makedial(2,2);
resize();
</script>
</body>
</html>